
<!--It is for designing the top header that is above the navbar including the InstaSmart
    and the menu and the cart.-->
    <nav class="header_top">
        <div class="header_menu">
            <div class="header_menu_icon">
                <span class="material-icons">movie</span>
            </div>
            <p class="header_menu_logo" style="font-size: 25px; font-family:serif;">BookShow</p>

            <div class="header_menu_searchbar">
                
            </div>

            <div class="header_menu_signin" id="header1">
                <span class="header_menu_top_item">
                    Hello, Sign In
                </span>
                <span class="header_menu_bottom_item">
                    Movies & Tickets
                </span>

            </div>
            <div class="header_menu_signin" id="header2">
                <span class="header_menu_top_item">
                    Book Ticket 
                </span>
                <span class="header_menu_bottom_item">
                    Enjoy Your Movie
                </span>

            </div>
            <div class="bigspace"></div>

        </div>
            
          
    </nav>
