.full-width{
    width: 100%;
}

.logindiv{
    background-color: black;
    color:white;
    opacity: 0.9;
    width:60%;
    border-radius: 25px;
   
}
.upperdiv{
    display: flex;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.imagediv{
    width: 40%;
}
.image-center{
    margin-left: 140px;
}

.buttondiv{
    display: flex;
    width: 100%;
    
}
.sign1{
    width:50%;
    height: 45px;
    border-top:none;
    border-bottom: none;
    border-left: none;
    font-size: 25px;
    background-color: skyblue;
    opacity: 0.8;
}
.sign2{
    width:50%;
    height: 45px;
    border-top:none;
    border-bottom: none;
    border-right: none;
    font-size: 25px;
    background-color: skyblue;
    opacity: 0.8;
    
    
}

mat-form-field{
    width:90%;
}
.signupdiv{
    margin:auto;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}


.passwordDiv{
    background-color: black;
    opacity: 0.9;
    width:50%;
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
}