<div class="container">

    <div class="div1">
        <img src="../../assets/images/about.jpg" width="500px" height="400px"/>
    </div>
    <div class="div2">
    <mat-card class="example-card">
        <!--First Article-->
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>BookShow</mat-card-title>
            <mat-card-subtitle>Watch Movies at your nearest Hall</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
                BookShow is an online ticketing facility like Movietickets.com, Explara and Ticketmaster.com. BookShow took the primary services provided by these two websites and consolidated it into one website for movies, plays, events and sports tickets. Apart from being an online ticketing portal, BookShow offers information about upcoming movies and events, show timings, venue details and artist bios.
               </p> <p>BookShow was founded by Ashish Hemrajani, Parikshit Dar and Rajesh Balpande, all three alumni of Sydenham Institute of Management, Mumbai University. They had been working for J.W. Thompson, SPAR and Chatterjee Soros Group, respectively. In 2007 they officially came up with the BookMyShow website. The major purpose of this start-up was to bring the concept of online movie ticketing to India. And soon as it expanded, it started offering online ticketing solutions for theatres, events, concerts and sports.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        </div>
</div>
