
<div class="maindiv">
<h4 style="text-align: center; font-size: 30px;">Update Password</h4>

    <form class="example-form" [formGroup]="updatePass"
    (ngSubmit)="updatePassword()">

    <div class="parentdiv">
    <div class="example-container">
        <mat-form-field class="example-full-width" >
            <mat-label>USER NAME</mat-label>
            <input matInput #username class="username" placeholder="Ex. User@123" name="username" formControlName="username">
            <mat-hint align="start"><strong>Enter The User Name</strong> </mat-hint>
            <mat-hint align="end">{{username.value.length}} / 30</mat-hint>
            <mat-error *ngIf="myError('username', 'required')">User Name is required</mat-error>
            <mat-error *ngIf="myError('username','minlength')">Minimum Length of User Name is 4</mat-error>
            <mat-error *ngIf="myError('username', 'maxlength')">Maximum Length of User Name is 30</mat-error>
          </mat-form-field>
    </div>

    <div class="example-container">
        <mat-form-field class="example-full-width" >
            <mat-label>PET NAME</mat-label>
            <input matInput #petname class="petname" placeholder="Ex. dog" name="petname" formControlName="petname">
            <mat-hint align="start"><strong>Enter Your Pet Name</strong> </mat-hint>
            <mat-hint align="end">{{petname.value.length}} / 30</mat-hint>
            <mat-error *ngIf="myError('petname', 'required')">Pet Name is required</mat-error>
        
          </mat-form-field>
          </div>

          <div class="example-container">
            <mat-form-field class="example-full-width" >
                <mat-label>NEW PASSWORD</mat-label>
                <input matInput #password class="password" placeholder="Ex. password" name="password" formControlName="password">
                <mat-hint align="start"><strong>Enter The New Password</strong> </mat-hint>
                <mat-hint align="end">{{password.value.length}} / 30</mat-hint>
                <mat-error *ngIf="myError('password', 'required')">Password is required</mat-error>
                <mat-error *ngIf="myError('password','validPattern')">Password must contain one digit , one uppercase , one lowercase ,one special character and no white Spaces</mat-error>
                
              </mat-form-field>
    </div>
    </div>
<div class="btndiv">
    <button type="submit" id="btn1" mat-raised-button color="warn" [disabled]='!updatePass.valid ||!updatePass.dirty' mat-dialog-close cdkFocusInitial>UPDATE PASSWORD</button>
</div>
</form>
</div>
