mat-form-field{
    width: 80%;
}
.parentdiv{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.btndiv{
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.maindiv{
    background-color: black;
    padding-top: 10px;
    opacity: 0.9;
    color: aliceblue;
}